<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.CalMapper">
   <insert id="insertCalBoard" parameterType="CalDto">
      INSERT INTO reserveboard
        VALUES (NULL,#{email},#{title},#{content},#{mdate},SYSDATE(),#{ykiho},'N',#{yadmNm},#{useMoney})
   </insert>
   
   <select id="calBoardList" parameterType="Map" resultType="CalDto">
       SELECT seq,ykiho, content, mdate,regdate,title
      FROM reserveboard
      WHERE SUBSTRING(mdate,1,8) = #{yyyyMMdd} AND YKIHO= #{ykiho}

   </select>
   
   <select id="calBoardDetail" parameterType="int" 
                               resultType="CalDto">
      SELECT seq,title,content,mdate,regdate
      FROM reserveboard
      WHERE seq=#{seq}
   </select>
   
   <update id="calBoardUpdate" parameterType="CalDto">
      UPDATE reserveboard
      SET title=#{title}, content=#{content},
       mdate=#{mdate}, regdate=SYSDATE()
      WHERE seq=#{seq}
   </update>
   
   <delete id="calMulDel" parameterType="Map">
      DELETE FROM reserveboard WHERE seq IN 
      <foreach collection="seqs" item="seq" open="(" close=")"
             separator=",">
         #{seq}         
      </foreach>
   </delete>
   
   <select id="calViewList" parameterType="Map" resultType="CalDto">
      SELECT rn, seq, email,title,content, ykiho,mdate, regdate   
      from   (SELECT ROW_NUMBER() over(PARTITION BY SUBSTR(mdate,1,8)
                                      ORDER BY mdate) rn
                , seq, email,title,content, ykiho,mdate, regdate
             FROM reserveboard
             WHERE ykiho = #{ykiho} AND SUBSTR(mdate,1,6)=#{yyyyMM} 
             ) cal
      WHERE rn BETWEEN 1 AND 3
   </select>
   
   <select id="calBoardCount" parameterType="Map"
         resultType="Integer">
      SELECT COUNT(*) FROM reserveboard
      WHERE SUBSTR(mdate,1,8)=#{yyyyMMdd} AND ykiho = #{ykiho}
   </select>

   <update id="pay" parameterType="Map">
      UPDATE useraccount
      SET MONEY = #{remaining_balance}
      WHERE FINTECH_USE_NUM=#{fintech_use_num}
   </update>
   
   
</mapper>












