@charset "UTF-8";

.content{
   margin:70px 150px;
}

#container{
   width: 800px;
   margin: 0 auto;
}

/* .container { */
/*    background: linear-gradient(to right, #a6e4ff, #6933ff) !important; */
/* } */

.navbar {
 	background: linear-gradient(to right, #d0d0d0, #7f7fad) !important;
	background-color: #f0f0f0 !important;

}

#footer{
   background: linear-gradient(to right, #d0d0d0, #7f7fad);
   line-height: 50px;
   height: 50px;
   text-align: center;
   color: black; 
   font-weight: bold;
   position: fixed;
   bottom: 0px;
   left: 0px;
   right: 0px;
}

.errorField{
   color:red;
}

.loginVal{
   border:1px solid #6E6E6E;
   width: 288px;
   height: 40px;
   border-radius: 5px;
   padding-left: 10px;
}

input, button{
   margin:2px;
}


button{
   border:1px solid #6E6E6E;
   background-color: #6E6E6E;
   border-radius:5px;
   width: 150px;
   height:40px;
   color:white;
   font-weight: bold;
}

button:hover{
   border:1px solid #6E6E6E;
   background-color: #6E6E6E;
   color:rgb(192, 192, 192);
}

#container1{
   width: 1100px;
   margin-left: 337px;
}

table{
   margin-left: auto;
   margin-right: auto;
}


